@charset "UTF-8";

/* 
    em HTML é id e em CSS é # (só pode um elemento)
    em HTML é class e em CSS é . (pode vários elementos)
*/
body {
    background-color: rgb(140, 199, 140);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(42, 151, 42);
}

h1#principal {
    text-align: center;
    background-color: green;
    color: white;
}

h2 {
    color: rgb(54, 141, 54);+
}

.basico {
    color: yellow;
}

.intermediario {
    color: red;
}

.avancado {
    color: blue;
}

.destaque{
    background-color: yellow;
}

p {
    text-align: justify;
    text-indent: 50px;
}