@charset "UTF-8";

@font-face {
    font-family: "Passion One";
    src: url("../fontes/PassionOne-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Sriracha";
    src: url("../fontes/Sriracha-Regular.ttf") format("truetype");
}

:root {
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: "Passion One", sans-serif;
    --font3: "Sriracha", cursive;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    min-height: 100vh;
    background-color: white;
    font-family: var(--font1);
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header h1 {
    font-family: var(--font2);
    font-weight: normal;
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 10vw;
}

header p {
    padding-bottom: 50px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

section {
    font-family: var(--font3);
    font-size: 3.5vw;
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

section p {
    padding-bottom: 2em;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgba(51, 51, 51);
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.521);
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

section.imagem p {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    text-shadow: 1px 1px 0px black;
}

section#img01 {
    background-image: url("../imagens/background001.jpg");
    background-position: right center;
}

section#img02 {
    background-image: url("../imagens/background002.jpg");
}

footer {
    background-color: black;
    color: white;
    font-size: 14px;
    text-align: center;
    padding: 10px;
}